// General Layout Styling

// Main Styling
main {
    
    display: flex;
    justify-content: space-between;
};

header {
    text-align: center;
}

.selectedPoke div {
    display: flex;
}

.imgBox {
    width: 20%;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    padding-top:2vh;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.wrapper{
    max-width:400px;
    width: 90%;
    margin: 0 auto;

}

section{
    padding-left: 15%;
}