// General Font Styling

body {
    font-family: 'Press Start 2P', cursive;
    color: #0f380f;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #081820;
}

p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

// Header 

select {
    font: inherit;
    text-align: center;
    text-transform: uppercase;
    color: #0f380f;;
}

button {
    font: inherit;
    color: #0f380f;
}

// Main
aside p {
    text-align: center;
    font-size: 14px;
}

h2 {
    text-transform: capitalize;
    color:#081820;
}

// Footer
footer {
    font-size: 10px;
}